.ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane,
.ant-tabs-left
  > div
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding: 0px;
}

.dark .ant-tabs-tab.ant-tabs-tab-active .truncate {
  color: rgb(105, 105, 219);
}
