.baner-dots li button:before {
  font-size: 15px;
}
.dark .baner-dots li button:before {
  color: white;
}
.banerImage {
  width: 100vw;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .banerImage {
    height: 50vh;
  }
}
